<div class="container">
  <ul class="books">
    <div class="row">
    <li *ngFor="let book of books">
      <div class="col-md-4">
        <div class="content" routerLink="/detail/{{book.id}}">
          <img class="card-img-top" src='{{book.src}}' alt="Card image">
          <h5 class="card-title">{{ book.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{book.author}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">{{ book.date }}</h6>
        </div>
        <button routerLink="/detail/{{book.id}}" type="button" class="btn btn-primary"><fa name="pencil"></fa></button>
        <button (click)="delete(book)" type="button" class="btn btn-danger"><fa name="trash-o"></fa></button>
      </div>
    </li>
    </div>
  </ul>
</div>
<!-- <app-book-detail [book]="selectedBook"></app-book-detail> -->


