<div style="text-align:center">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/dashboard">Books R Us</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="/dashboard"><fa name="home"></fa>Home</a></li>
        <li><a routerLink="/books"><fa name="book"></fa>Books</a></li>
        <li><a routerLink="/add"><fa name="plus-circle"></fa>Add</a></li>
        <li><a routerLink="/search"><fa name="search"></fa>Search</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>


