h2{
  color: rgb(14, 40, 126);
  text-align: center; 
  margin-bottom: 1em;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
.books {
  list-style-type: none;
}
.card-img-top {
  width: 200px;
  height: 300px;
  overflow: hidden;
}
.content {
  margin: 0 auto;
}
.content :hover {
  cursor: pointer;
}
.card {
  text-align: center;
  margin-bottom: 2em;
}
.card :hover {
  cursor: pointer;
  background-color: rgb(221, 222, 227);
  color: rgb(14, 40, 126);
  border-radius: 10px;
}
.container {
  margin: 0 auto;
}