<div class="container" *ngIf="book">
  <h2>{{ book.title | uppercase }} Details</h2>
  <div>
    <span>Author: </span>{{book.author}}
  </div>
  <div>
    <span>Date: </span>{{book.date}}
  </div>
  <div>
    <img src="{{book.src}}" alt="book image">
  </div>
  <div>
    <label>Title:
      <input [(ngModel)]="book.title" placeholder="Title" />
    </label>
    <button (click)="save()" type="button" class="btn btn-success"><fa name="check"></fa></button>
    <button (click)="goBack()" type="button" class="btn btn-primary"><fa name="undo"></fa></button>
  </div>
</div>